*{margin: 0; padding: 0; box-sizing: border-box;}

.clearfix::after{
    content: '';
    display: block;
    clear: both;
}

.window{
    width: 400px;
    height: 300px;
    margin: 20px auto;
    overflow: hidden;
    position: relative;
}

.images{
    position: relative;
}

.images > img{
    transition: all 0.5s;
    position: absolute;
    top: 0
}


.images > img.current{
    left: 0;
    z-index: 1;
}

.images > img.enter{
    left: 100%;
    z-index: 0;
}

.images > img.leave{
    left: -100%;
    z-index: 0;
}

.window > .buttons{
    z-index: 1;
    position: absolute;
    bottom: 0;
    left: 50%;
    margin: 10px auto;
    transform: translateX(-50%);
}

.buttons > span{
    border: 1px solid #CBCBCB;
    margin: 0 5px;
    float: left;
    display: block;
    background-color: #CBCBCB;
    width: 30px;
    height: 8px;
    border-radius: 3px;
    opacity: 1;
    cursor: pointer;
}